<% if !@available_flights.nil? && @available_flights.size > 0 %>

<h1 class="subtitle">
  Results
</h1>

<%= simple_form_for(:booking, method: :get, url: new_booking_path) do |f| %>
  <% @available_flights.each do |flight| %>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.input :flight_id, label: "#{flight.from_airport.airport_code.upcase} ---->" " #{flight.to_airport.airport_code}",
         as: :radio_buttons, collection: [flight.id] %>
  <% end %>
    <%= f.hidden_field :passengers, value: params[:flight_search][:passengers] %> 
    <%= f.button :submit, 'Continue to Booking' %>
  </div>
<% end %>
  <% elsif !@available_flights.nil? && @available_flights.size == 0 %>
    <h1 class="subtitle">
      No Flights Available
    </h1>
    <% else%>
      <!-- Empty -->
<% end %>


